@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    transition: background 0.2s linear;
}

body.light{
    background-color: #f0f0f0;
}

/* START theme config */

.theme{
    position: absolute;
    top: 25px;
    left: 93vw;
}

.checkbox{
    opacity: 0;
    position: absolute;
    width: 100%;
}

.label{
    background-color: #c7c6c6;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball{
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

/* END theme config */

.input{
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding-bottom: 3em;
    font-size: 28px;
}

input{
    width: 240px;
    height: 50px;
    border-radius: 8px;
}

.date-input{
    font-size: 30px;
    text-align: center;
}


/* Remove Arrows/Spinners */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #FFFFFF;
    gap: 20px;
    
}
.title {
    grid-column: 4 span;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.value {
    font-size: 64px;
    font-weight: 700;
}

.name {
    font-size: 16px;
}